<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.zopera.mapper.FileMapper">
    <update id="updateOperaByIdState" parameterType="integer">
        update opera
        set state=#{state}
        <if test="stateInfo != ''">
            , state_info = #{stateInfo}
        </if>
        where id = #{id}
    </update>
</mapper>